
*.vcxproj*
*.VC.*
*.sln
*.pdb
*.raw

labs/Module3/ImageColorToGrayscale/\.vs
labs/Module3/ImageColorToGrayscale/Debug

/labs/Module4/BasicMatrixMultiplication/Debug
/labs/Module4/BasicMatrixMultiplication/\.vs

/labs/Module4/TiledMatrixMultiplication/Debug
/labs/Module4/TiledMatrixMultiplication/\.vs
labs/Module5/Histogram/Debug/

labs/Module5/Histogram/\.vs/Histogram/v14/\.suo
